<div id="contact-me" class="jumbotron-fluid jumbotron-contact">
    <div class="container">
      <div class="contact-page-message col-sm">
        Send me a message. Add your contact details so that I can talk back to you. Your contact details will not be shared with anyone.
      </div>
      <form>
        <div class="row">
          <div class="form-group col-sm">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
          </div>
          <div class="form-group col-sm">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
          </div>
          <div class="form-group col-sm">
            <label for="inputPhone">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhone" placeholder="Enter phone">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>