<div id="me" class="jumbotron-fluid jumbotron-home-page">
  <div class="container me-container">
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
        <div class="text-center">I am a full stack developer specialising in Angular, C# and .NET.<br>I love keeping
          things simple.</div>
      </div>
    </div>
    <div class="go-to-next-arrow text-center">
      <a routerLink = "/projects">
        <i class="fas fa-arrow-circle-down fa-3x" style="color: black;"></i>
      </a>
    </div>
  </div>
</div>