<nav id="navbar-main" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">&lt;KM&gt;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#me">Me
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#my-work">My work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-me">Contact</a>
      </li>    
    </ul>
    <span class="linked-in-logo">
      <a href=""><img src="../assets/In-2C-28px-TM.png"></a>        
    </span>
  </div>
</nav>
<div data-spy="scroll" data-target="#navbar-main" data-offset="0" id="body-div">
  <div id="me" class="jumbotron-fluid jumbotron-home-page">
    <div class="container">
      I am a full stack developer specialising in Angular and C# .NET and .NET Core.
    
  
    </div>
  </div>
  <div id="my-work" class="jumbotron-fluid jumbotron-my-work">
    <div class="container">
  
    </div>
  </div>
  <div id="contact-me" class="jumbotron-fluid jumbotron-contact">
    <div class="container">
  
    </div>
  </div>
</div>
