<nav id="navbar-main" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">&lt;KM&gt;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#me">Me
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#my-work">My work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-me">Contact</a>
      </li>
    </ul>
    <span class="linked-in-logo">
      <a target="_blank" href="https://www.linkedin.com/in/kavan-mannapperuma-a692a8119/">
        <img src="../assets/In-2C-28px-TM.png">
      </a>
    </span>
  </div>
</nav>
<div data-spy="scroll" data-target="#navbar-main" data-offset="0" id="body-div">
  <div id="me" class="jumbotron-fluid jumbotron-home-page">
    <div class="container me-container">
      <div class="row h-100">
        <div class="col-sm-12 my-auto">
          <div class="text-center">I am a full stack developer specialising in Angular, C# .NET and .NET Core.</div>
        </div>
      </div>
      <div class="go-to-next-arrow text-center">
        <i class="fas fa-arrow-circle-down fa-3x"></i>
      </div>

    </div>
  </div>
  <div id="my-work" class="jumbotron-fluid jumbotron-my-work">
    <div class="container lets-code-button">
      <button class="btn btn-secondary">Let's code up a new thing!</button>
    </div>
  </div>
  <div id="contact-me" class="jumbotron-fluid jumbotron-contact">
    <div class="container">
      <div class="contact-page-message col-sm">
        Send me a message. Add your contact details so that I can get back to you. Your contact details will not be shared with anyone.
      </div>
      <form>
        <div class="row">
          <div class="form-group col-sm">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
          </div>
          <div class="form-group col-sm">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
          </div>
          <div class="form-group col-sm">
            <label for="inputPhone">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhone" placeholder="Enter phone">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>